<div id="top" class="ad-header">
  <div class="flex">
    <div class="ad-logo">
      <a href="/">Ana Lucía Despres</a>
    </div>
    <div class="ad-menu">
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/random">Random</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="ad-hamburger">
  <div class="bar-one bar"></div>
  <div class="bar-two bar"></div>
  <div class="bar-three bar"></div>
</div>
<div class="ad-mobile-menu">
  <ul>
    <li><a href="/">Work</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/random">Random</a></li>
    <li><a href="mailto:hola@anadespres.com">Get in touch</a></li>
  </ul>
  <div class="header-footer menu">
    <div class="flex">
      <div class="left">
        <h4>Available for freelance</h4>
      </div>
      <div class="right">
        <h4><a href="mailto:hola@anadespres.com">hola@anadespres.com</a><h4>
      </div>
    </div>
  </div>
</div>
