.header-imager {
  height: 100vh;
}

.ad-wrapper {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;

  img {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}

.flex {
  display: flex;
  justify-content: space-between;

  & > img {
    width: 48%;
  }
}
