.ad-wrapper {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;

  img {
    width: 100%;
  }
}

.flex {
  display: flex;
  justify-content: space-between;

  & > img {
    width: 49%;
  }
}
